<main id="main" class="main">
    <div class="pagetitle">
       <h1>Data Tables</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item">Tables</li>
             <li class="breadcrumb-item active">Data</li>
          </ol>
       </nav>
    </div>
    <section class="section">
      <div class="mat-elevation-z8">
         <table mat-table [dataSource]="dataSource" matSort>
       
           <!-- ID Column -->
           <ng-container matColumnDef="id">
             <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
             <td mat-cell *matCellDef="let row"> {{row.id}} </td>
           </ng-container>
       
           <!-- Progress Column -->
           <ng-container matColumnDef="userId">
             <th mat-header-cell *matHeaderCellDef mat-sort-header> userId </th>
             <td mat-cell *matCellDef="let row"> {{row.userId}} </td>
           </ng-container>
       
           <!-- Name Column -->
           <ng-container matColumnDef="title">
             <th mat-header-cell *matHeaderCellDef mat-sort-header> title </th>
             <td mat-cell *matCellDef="let row"> {{row.title}} </td>
           </ng-container>
       
           <!-- Fruit Column -->
           <ng-container matColumnDef="body">
             <th mat-header-cell *matHeaderCellDef mat-sort-header> body </th>
             <td mat-cell *matCellDef="let row"> {{row.body}} </td>
           </ng-container>
       
           <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
           <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
       
           
         </table>
       
         <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
       </div>
    </section>
 </main>