<main id="main" class="main">
    <div class="pagetitle">
       <h1>Student note</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item active">Student note</li>
          </ol>
       </nav>
    </div>

    
      <div class="mat-elevation-z8">
        <table class="content-table">
          <thead>
             <tr>
                <th scope="col">Nb_Apojee</th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Cin</th>
                <th scope="col">Cne</th>
             </tr>
          </thead>
          <tbody>
             <tr *ngFor="let student of students">
                <td>{{student.nbApogee}}</td>
                <td>{{student.nom}}</td>
                <td>{{student.prenom}}</td>
                <td>{{student.cin}}</td>
                <td>{{student.cne}}</td>
             </tr>
             
          </tbody>
       </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
    
      
 </main>
